* {
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
::selection{
    background: #7092bf;
    color: #fff;
}
h1{
    font-size: 15pt;
    color: #20bc;
    text-align: center;
    position: relative;
    top: 70px;
}
p{
    font-size: medium;
    color: orangered;
}
img.head{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
#header{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #7092bf;
    width: 100%;
    height: 50px;
    box-shadow: 3px 3px 10px 0.1px rgba(0, 0, 0, 0.3);
}
span.head{
    position: fixed;
    top: 7px;
    left: 70px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: white;
    z-index: 4;
    transition: transform 0.3s;
}
span.head:hover{
    transform: scale(1.1, 1.1);
    z-index: 5;
}
div.galleryMain{
    display: inline;
    position: relative;
    top: 90px;
    left: 15%;
}
a.pic{
    display: inline;
    text-decoration: none;
    position: relative;
}
img.gallery{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
    z-index: 4;
    transition: transform 0.3s;
}
img.gallery:hover{
    transform: scale(1.2, 1.2);
    z-index: 5;
    position: relative;
}
a.link:hover{
    color: red;
    text-decoration: none;
}

.bt{
    position: absolute;
    left: 80%;
    top: 0;
}

.btn{
    background-color: #7092bf;
    color: black;
    width: 150px;
    height: 50px;
    position: fixed;
    /*right: 10px;*/
    top: 0;
    z-index: 5;
    cursor: pointer;
}

#splog{
    position: fixed;
    top: 15px;
    right: 13.5%;
    color: white;
}

.btn:hover{
    background-color: #5a7ba6;
    cursor: pointer;
}

#dropdown{
    position: fixed;
    top: 50px;
    right: 10%;
    background-color: white;
    width: 150px;
    box-shadow: 2px 2px 10px 0.1px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.form{
    width: 147px;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

div.borders{
    text-align: center;
    position: relative;
    top: 170px;
    left: 39%;
    cursor: default;
    border: 5px solid red;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    transition: width 3s, left 3s, border 3s;
    box-shadow: 2px 2px 7px 0.1px rgba(0, 0, 0, 0.2);
}
div.borders:hover{
    width: 350px;
    left: 37%;
    border: 5px dotted white;
}
div.text{
    position: relative;
    top: 220px;
    left: 20%; /*300px*/
    width: 60%; /*900px*/
    max-width: 80%;
    /*min-height: 720px;*/
    display: block;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgrey;
}
.text{
    padding: 2px;
    position: relative;
    cursor: default;
    word-spacing: 2px;
    text-align: justify;
    word-wrap: break-word;
}
div.up{
    position: fixed;
    top: 50%;
    left: 30px;
    z-index: 3;
}
svg{
    transition: transform 0.3s;
    border-radius: 50%;
    box-shadow: 2px 2px 7px 0.1px rgba(0, 0, 0, 0.2);
}
svg:hover{
    transform: scale(1.2, 1.2);
    z-index: 5;
}

#cir:hover{
    fill: #9ba5a8;
}

span.foot{
    position: fixed;
    bottom: 7px;
    right: 70px;
    font-size: medium;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: black;
    z-index: 4;
}
