*{
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
html{
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
::selection{
    background: #7092bf;
    color: #fff;
}
#header{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #7092bf;
    width: 100%;
    height: 50px;
    box-shadow: 3px 3px 10px 0.1px rgba(0, 0, 0, 0.3);
}
span.head{
    position: fixed;
    top: 7px;
    left: 70px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "Segoe Script";
    color: white;
    z-index: 4;
    transition: transform 0.3s;
}
span.head:hover{
    transform: scale(1.1, 1.1);
    z-index: 5;
}
p.err{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    position: fixed;
    top: 40%;
    left: 40%;
}
p{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50.5%;
}
p.back{
    position: fixed;
    top: 60%;
    left: 49%;
}
a:hover{
    text-decoration: underline;
}
svg{
    position: fixed;
    top: 50%;
    left: 50%;
}

.btn{
    background-color: #7092bf;
    color: black;
    width: 150px;
    height: 50px;
    position: fixed;
    right: 11%;
    z-index: 5;
    cursor: pointer;
}

#splog{
    position: fixed;
    top: 15px;
    right: 14.5%;
    color: white;
}

.btn:hover{
    background-color: #5a7ba6;
    cursor: pointer;
}

#dropdown{
    position: absolute;
    top: 50px;
    right: 11%;
    background-color: white;
    width: 150px;
    box-shadow: 2px 2px 10px 0.1px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.form{
    width: 147px;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

span.foot{
    position: fixed;
    bottom: 7px;
    right: 84px;
    font-size: medium;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: black;
    z-index: 4;
}
