*{
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
::selection{
    background: #7092bf;
    color: #fff;
}
#header{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #7092bf;
    width: 100%;
    height: 50px;
    box-shadow: 3px 3px 10px 0.1px rgba(0, 0, 0, 0.3);
}
span.head{
    position: fixed;
    top: 7px;
    left: 70px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "Segoe Script";
    color: white;
    z-index: 4;
    transition: transform 0.3s;
}
span.head:hover{
    transform: scale(1.1, 1.1);
    z-index: 5;
}
p{
    position: fixed;
    top: 7%;
    left: 42%;
    font-size: 1.5em;
}
div{
    position: fixed;
    top: 12%;
    left: 30%;
}
#pic{
    width: 40%;
    height: 80%;
    position: fixed;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
#back{
    position: fixed;
    left: 100px;
    top: 50%;
}
#forward{
    position: fixed;
    left: 1350px;
    top: 50%;
}

svg{
    transition: transform 0.3s;
    border-radius: 50%;
    box-shadow: 2px 2px 7px 0.1px rgba(0, 0, 0, 0.2);
}

svg:hover{
    transform: scale(1.2, 1.2);
    z-index: 5;
}
#cir:hover{
    fill: #9ba5a8;
}

.bt{
    position: absolute;
    left: 79%;
    top: 0;
}

.btn{
    background-color: #7092bf;
    color: black;
    width: 150px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 79%;
    z-index: 5;
    cursor: pointer;
}

#splog{
    position: fixed;
    top: 15px;
    right: 14.5%;
    color: white;
}

.btn:hover{
    background-color: #5a7ba6;
    cursor: pointer;
}

#dropdown{
    position: absolute;
    top: 50px;
    right: 11%;
    background-color: white;
    width: 150px;
    box-shadow: 2px 2px 10px 0.1px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.form{
    width: 147px;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

span.foot{
    position: fixed;
    bottom: 7px;
    right: 84px;
    font-size: medium;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: black;
    z-index: 4;
}
