* {
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
html{
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
::selection{
    background: #7092bf;
    color: #fff;
}
h1{
    font-size: 15pt;
    color: #20bc;
    text-align: center;
    position: relative;
    top: 70px;
}
p{
    font-size: medium;
    color: orangered;
}
img.head{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
#header{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #7092bf;
    width: 100%;
    height: 50px;
    box-shadow: 3px 3px 5px 1px #a8a8a8;
}
span.head{
    position: fixed;
    top: 7px;
    left: 70px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: white;
    z-index: 4;
    transition: transform 0.3s;
}
span.head:hover{
    transform: scale(1.1, 1.1);
    z-index: 5;
}
div.galleryMain{
    display: inline;
    position: relative;
    top: 90px;
    left: 200px;
}
a.pic{
    display: inline;
    text-decoration: none;
    position: relative;
}
img.gallery{
    width: 216px;
    height: 216px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px #a8a8a8;
    z-index: 4;
    transition: transform 0.3s;
}
img.gallery:hover{
    transform: scale(1.2, 1.2);
    z-index: 5;
}
a.link:hover{
    color: red;
    text-decoration: none;
}
form{
    position: fixed;
    top: 65px;
    right: 20px;
    z-index: 3;
    box-shadow: 3px 3px 5px 1px #a8a8a8;
}

span.log{
    position: fixed;
    top: 50px;
    right: 80px;
    z-index: 3;
}
button.log{
    position: fixed;
    top: 155px;
    right: 90px;
    z-index: 3;
}
div{
    text-align: center;
    position: relative;
    top: 170px;
    left: 570px;
    cursor: default;
}
div.borders{
    border: 5px solid red;
    border-radius: 10px;
    width: 300px;
    height: 70px;
    transition: width 3s, height 3s, border 3s;
}
div.borders:hover{
    width: 350px;
    height: 100px;
    border: 5px dotted yellow;
}
div.text{
    position: relative;
    top: 220px;
    left: 250px;
    width: 900px;
    min-height: 1020px;
    display: block;
}
.text{
    position: relative;
    cursor: default;
    word-spacing: 2px;
    text-align: justify;
    word-wrap: break-word;
}
div.up{
    position: fixed;
    top: 50%;
    left: 30px;
    z-index: 3;
}
img.up{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    /*visibility: hidden;*/
    transition: transform 0.3s;
}
img.up:hover{
    transform: scale(1.2, 1.2);
    z-index: 5;
}
span.foot{
    position: fixed;
    bottom: 7px;
    right: 70px;
    font-size: medium;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: black;
    z-index: 4;
}
