* {
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}

html{
    margin: 0;
    padding: 0;
    font-family: "Book Antiqua";
}
h1{
    font-size: 15pt;
    color: #20bc;
    text-align: center;
    position: relative;
    top: 70px;
}
p{
    font-size: medium;
    color: orangered;
}
img.head{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
#header{
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #7092bf;
    width: 100%;
    height: 50px;
}
span.head{
    position: fixed;
    top: 7px;
    left: 70px;
    font-size: x-large;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: white;
    z-index: 4;
}
div.galleryMain{
    display: inline;
    position: relative;
    top: 90px;
    left: 120px;
}
a.pic{
    display: inline;
    text-decoration: none;
    position: relative;
}
img.gallery{
    width: 216px;
    height: 216px;
    border-radius: 10px;
}
a.link:hover{
    /*style: cursor "not-allowed";*/
    color: red;
    text-decoration: none;
}
form{
    position: fixed;
    top: 65px;
    right: 40px;
    z-index: 3;
}
span.log{
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 3;
}
button.log{
    position: fixed;
    top: 155px;
    right: 90px;
    z-index: 3;
}
div{
    text-align: center;
    position: relative;
    top: 170px;
    left: 570px;
    cursor: default;
}
div.borders{
    border: 5px solid red;
    border-radius: 10px;
    width: 300px;
    height: 70px;
}
div.text{
    position: relative;
    top: 220px;
    left: 250px;
    width: 900px;
    min-height: 1020px;
    display: block;
}
.text{
    position: relative;
    cursor: default;
    word-spacing: 2px;
    text-align: justify;
}
div.up{
    position: fixed;
    top: 50%;
    left: 30px;
    z-index: 3;
}
img.up{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
/*footer{
    border: 0;
    position: relative;
    bottom: 0px;
    left: 0;
    z-index: 3;
    background-color: #bdcce1;
    width: 100%;
    height: 40px;
}*/
span.foot{
    position: fixed;
    bottom: 7px;
    right: 70px;
    font-size: medium;
    font-weight: bolder;
    font-family: "Segoe Script";
    cursor: hand;
    color: black;
    z-index: 4;
}
